<div *ngIf="!initialized">
  <div class="alert alert-info">
    <h4><i class="fa fa-refresh"></i> Feed Component still not initialized yet. Please wait.</h4>
  </div>
</div>

<div class="row" *ngIf="requestIsOk; else errorHappen">
  <div *ngFor="let article of feed" class="d-flex col-12 col-lg-6">
    <div class="card mb-4">
      <a [href]="article.url" target="_blank" class="card-img">
        <img [src]="article.urlToImage" [alt]="article.title" class="img-thumbnail">
      </a>
      <div class="card-body">
        <h4>
          <a [href]="article.url" target="_blank">{{article.title}}</a>
        </h4>
        <hr>
        <p>
          {{article.description}} <br>
          <a [href]="article.url" target="_blank">Continue reading <i class="fa fa-angle-double-right"></i></a></p>
        <p class="text-muted"><i class="fa fa-user"></i> {{article.author}}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">
          <span class="badge badge-success p-1">{{article.source.name}}</span>
        </span>
        <span class="float-right"><i class="fa fa-calendar"></i> {{article.publishedAt | date:'short'}}</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-block mx-3" (click)="getLatestArticles()"><i class="fa fa-refresh"></i> Get Latest 10 Articles</button>
</div>

<ng-template #errorHappen>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error happen</h4>
    <p>Something is not OK</p>
    <hr>
    <p class="mb-0">
      Try to request articles again.
      <button class="btn btn-danger" (click)="getLatestArticles()"><i class="fa fa-refresh"></i> Get Articles</button>
    </p>
  </div>
</ng-template>
